<div class="card h-100 text-center p-3 bg-body-secondary">
  <img
    [src]="myUser.image"
    alt="{{ myUser.first_name }} {{ myUser.last_name }}"
    class="rounded-circle mx-auto d-block mb-3"
    style="width: 120px; height: 120px; object-fit: cover"
  />

  <h5 class="card-title mb-4">
    {{ myUser.first_name }} {{ myUser.last_name }}
  </h5>

  <div class="mt-auto">
    <app-tool-buttons [myUser]="myUser" [myAction] = "'card'"  [userId]="myUser._id" 
    (userDeleted)="onUserDeleted($event)"></app-tool-buttons>
  </div>
</div>
