<section class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg p-4 w-100 border-0 rounded-4 bg-body-secondary" style="max-width: 700px;">
    <div class="row align-items-center">
      <div class="col-md-4 text-center mb-3 mb-md-0">
        <div
          class="rounded-circle overflow-hidden mx-auto shadow-sm"
          style="width: 200px; height: 200px; background: #2563eb"
        >
        <!-- Este if es de protección para que el navegador no me muestre errores cuando myUser todavía no ha cargado -->
        @if ( myUser) {
          <img
            [src]="myUser.image"
            alt="Foto usuario"
            class="img-fluid h-100 w-100 object-fit-cover"
          />
          }
        </div>
      </div>

      <div class="col-md-8">
        <h4 class="fw-bold mb-1 text-primary">{{ myUser?.first_name }}</h4>
        <h6 class="text-muted mb-3">{{ myUser?.last_name }}</h6>

        <p class="mb-2"><strong>Usuario:</strong> {{ myUser?.username }}</p>
        <p class="mb-4"><strong>Email:</strong> {{ myUser?.email }}</p>
        <div class="container__button">
            <app-tool-buttons [myUser]="myUser" [myAction] = "'view'"></app-tool-buttons>        
        </div>                    
      </div>
    </div>
  </div>
</section>
