<section class="card shadow mt-4 mx-auto bg-body-secondary" style="max-width: 600px">
  <div class="card-body p-4">
    <h2 class="h5 mb-4">{{ title }}</h2>

    <form [formGroup]="userForm" (ngSubmit)="sendDataForm()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre Usuario</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          placeholder="Introduce el nombre"
          class="form-control"
          formControlName="nombre"
        />
        @if ( userForm.get('nombre')?.invalid && userForm.get('nombre')?.touched) {
        <div class="text-danger small">El nombre es obligatorio</div>
        }
      </div>

      <div class="mb-3">
        <label for="apellidos" class="form-label">Apellidos Usuario</label>
        <input
          type="text"
          id="apellidos"
          name="apellidos"
          placeholder="Introduce los apellidos"
          class="form-control"
          formControlName="apellidos"
        />
        @if ( userForm.get('apellidos')?.invalid && userForm.get('apellidos')?.touched) {
        <div class="text-danger small">Los apellidos son obligatorios</div>
        }        
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email Usuario</label>
        <input
          type="email"
          id="email"
          name="email"
          autocomplete="email"
          placeholder="empleado@empresa.com"
          class="form-control"
          formControlName="email"
        />
        @if ( userForm.get('email')?.invalid && userForm.get('email')?.touched) {
        <div class="text-danger small">Un Email corecto obligatorio</div>
        }        
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Imagen Usuario</label>
        <input
          type="text"
          id="image"
          name="image"
          placeholder="Introduzca URL"
          class="form-control"
          formControlName="image"
        />
        @if ( userForm.get('image')?.invalid && userForm.get('image')?.touched) {
        <div class="text-danger small">La URL de imagen es obligatoria</div>
        }        
      </div>

      <div class="d-grid">
        <input
          type="submit"
          class="btn btn-primary"
          [value]="buttonText"
          [disabled]="userForm.invalid"
        />
      </div>
    </form>
  </div>
</section>
